div {
    ul{
        margin-top: 20px;
        margin-left: 5px;
        margin-bottom: 50px;
        font-size: medium;
    }
}

$size:300px;

div {
    div{
        div{
            color: black;
            font-size: 20px;
            div{
                margin-top: 10%;
                margin-left: 30%;
            }
        }
        img {
            object-fit:cover; /* Do not scale the image */
            object-position:55% 35%; /*Center the image within the element */
            border-radius: 50%;
            width: $size;
            height: $size;
        }
    }
  }

%collections_before{
    border: 2px;
    border-radius: 10%;
}

%collections_after{
    box-shadow: 0 0 5px 10px;
    transform: translateY(-30px);
    transform: translateX(-30px);
}

.p1{
    @extend %collections_before;
    width: 450px;
}
.p1:hover{
    @extend %collections_after;
}

.p2{
    @extend %collections_before;
    width: 500px;
    margin-left: 100px;
    margin-top: 100px;
}
.p2:hover{
    @extend %collections_after;
}
.p3{
    @extend %collections_before;
    width: 700px;
}
.p3:hover{
    @extend %collections_after;
}
.p4{
    @extend %collections_before;
    width: 350px;
    margin-left: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
}
.p4:hover{
    @extend %collections_after;
}